body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    
    
    
    
}

.headertop {

    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content:space-between;
    color: white;
    background-color: #1F2937;
    
    

}



.logo {
    font-size: 45%;
    margin: 20px;
    padding: 0px;
    width: 20%;
    box-sizing: border-box;
    margin-left: 130px;
    
}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin: 0px;
    max-width: 400px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight:bold;
    box-sizing: border-box;
    align-items: center;
    font-size: 70%;
    
    margin-right: 180px;
}

a {
    color: white;
    text-decoration: none;
}

button {

    background-color: rgb(42, 126, 236);
    color: white;
    flex:0 1 auto;
    width:100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding-bottom: 2px;
}

.intro  {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content:space-around;
    color: white;
    background-color: #1F2937;
    padding: 20px;
    
    
}

.sign-up-top {

    display: flex; 
    flex-direction: column;
    max-width: 400px;
    margin-left: 100px;

}
    


.header-image img{
    
    max-width: 420px;
    flex-direction: row-reverse;
    flex-flow: column wrap;
    margin-right: 135px;
    margin-left: -20px;

}

.intro p {
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.main {

    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content:space-between;
    background-color: white;
    color: #1F2937;
    flex-flow: column wrap;
    
}

.main-content {

    padding: 16px;
    flex-wrap: wrap;
}

.main-content h2 {
    
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}

.squares {

    display: flex;
    justify-content: space-around;
    gap: 32px;
    flex-flow: row wrap;
    padding-bottom: 80px;
    padding-top: 10px;
}

.square {

    max-width: 150px;
    color: #1F2937;

}

.content-img {

    width: 140px;
    height: 140px;
    border: 3px solid rgb(42, 126, 236);
    border-radius: 20px;
    
}

.quote {

    background-color: rgb(197, 190, 190);
    background-size:cover;
    padding:50px 25%;
    font-size: 36px;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    
}


.author  {

    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    font-weight: bold;
    padding-right: 40px;

}

.sign-up-block {

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 30px;
    border-radius: 5px;
    color: white;
    background-color: rgb(42, 126, 236);
    margin: 100px auto;
    flex-flow: row wrap;
    padding-left: 100px;
    padding-right: 100px;

}

.sign-up-block button {

    border: 1px solid;
    border-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding: 5px;
}

button:hover {
    background-color: #f9faf8;
    color:rgb(42, 126, 236);
}
.text p {

    font-size: 14px;
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 24px 0px;
    align-self: stretch;
    background-color:#1F2937;
    color: white;
}