body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    min-height: 100vh;
    
}

.header {
    height: 250px;
    padding-top: 5px;
    background:#1F2937;
    color: white;
    display:flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 180px;
    font-weight: 800;
    box-sizing: border-box;
    width: 100%;
    border: solid #5B6DCD

}

ul {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    column-gap: 20px;
    padding: 0px;
    margin: 5px;
    padding-right: 180px;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 100;
    

}

a {
    color: white;
    text-decoration: none;
}

.intro  {
    
}